.header {
  margin: 0;
}

.contentMainpage {
  display: grid;
  grid:
    "day date"
    "table table";
  margin: 40px;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}
.day {
  grid-area: day;
}
.date {
  grid-area: date;
  background-color: #214371;
  color: white;
  padding: 5px;
  width: 20%;
  margin-left: 70%;
  border-radius: 10px;
}
.scheduleTable {
  grid-area: table;
}
td {
  border-top: black 1px;
}
